@using CA_6b.Models;
@{
    var cart = (List<CartItem>)ViewData["cart"];
    var count = 0;
    double value = 0;
    if (cart != null)
    {
        foreach (var item in cart)
        {
            count += item.Quantity;
            value += (item.Quantity * item.NewPrice);
        }
    }
}


@if (cart != null || count > 0)
{
    <p id="count_item">Number of items: @count</p>
    <p id="total-value">Total value: $@value</p>
    <table>
        @foreach (var item in cart)
        {

            <tr>
                <td class="cart-item-img"><img src="@item.Product.ImageUrl" /></td>
                <td class="cart-item-name">@item.Product.ProductName</td>
                <td class="cart-item-quantity">
                    Quantity: <input type="number" max="100" min="1" value=" @item.Quantity"
                                     class="quantity" id="@item.Product.ProductId" />
                </td>
                <td class="cart-item-price">$@item.Product.Price</td>
                <td class="cart-item-delete">
                    <p>
                        @Html.ActionLink(" ", "Remove", new { productId = item.Product.ProductId },
                  new { @class = "Remove far fa-trash-alt", data_id = item.Product.ProductId })
                    </p>

                </td>
            </tr>

        }
    </table>

    <a href="@Url.Action("CheckOut", "Product")" id="checkout"><span>Check out</span></a>
}
@if (cart == null || count == 0)
{
    <div class="empty-cart">
        <img src="https://saijahnavi.com/dist/images/empty-cart.png" />
    </div>
    <style>
        #checkout, #count_item, #total-value {
            display: none;
        }
    </style>
}

<p>Total value: $@Math.Round(value, 2)</p>

<style>
</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script>
    $(".quantity").bind('keyup change', function (e) {
        e.preventDefault();
        if ($(this).val().length > 0 && $(this).val() < 1) {
            $(this).val(1);
        }
        if ($(this).val() > 100) {
            $(this).val(100);
            alert("Maximum quantity of a product is 100")
        }
        
        var productId = $(this).attr("id");
        var num = $(this).val();
        $.ajax({
            url: "/Product/Change?productId=" + productId + "&num=" + num,
            success: function () {
                $("#cart_icon").load("/Product/Cart_Icon");
                $("#cart_details").load("/Product/Cart_Details");
            }
        });
    });


    $(".Remove").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("href"),
            success: function () {
                $("#cart_icon").load("/Product/Cart_Icon");
                $("#cart_details").load("/Product/Cart_Details");
            }
        });
    });

</script>
